DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=blablabook

# VARIABLE BACKEND 
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/blablabook?schema=public
SUPABASE_URL=mot_de_passe
JWT_SECRET=mimix
FRONTEND_URL_CORS=http://localhost:5173
NODE_ENV=dev
VITE_BACKEND_URL=http://localhost:3000