DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=blablabook

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=mysecretpassword

# VARIABLE BACKEND 
DATABASE_URL="postgresql://postgres:postgres@postgres:5432/blablabook?schema=public"
JWT_SECRET=