# Variable temporaire pour connection DB - marche pas comme je veux
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=blablabook
DB_HOST=localhost
DB_PORT=5432
DB_SCHEMA=public
# ===============================================

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/blablabook?schema=public"
